

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

h1 {
  animation: bounce 10s;
}

@media (max-width: 768px) {
  .card {
    width: 80%; /* Ajusta el ancho de las tarjetas para dispositivos móviles */
    height: 200px; /* Ajusta la altura de las tarjetas para dispositivos móviles */
    font-size: 48px; /* Ajusta el tamaño de fuente para dispositivos móviles */
  }

  .card img {
    max-height: 150px; /* Ajusta la altura máxima de las imágenes para dispositivos móviles */
  }
}
